# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dev-dist/registerSW.js
dev-dist/sw.js
dev-dist/workbox-3ea082d2.js
dev-dist/workbox-3589c0c5.js
dev-dist/workbox-cc8906f2.js
