html {
    overflow-y: auto !important;
    overscroll-behavior-y: none;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-touch-callout: none;
}

.v-expansion-panel-text__wrapper {
    padding: 0 !important;
}

.v-expansion-panel-title,
.v-expansion-panel-title v-expansion-panel-title--active {
    min-height: 32px !important;
    padding: 0 24px !important;
}